 .navi{
	 
	       background-color: #800000;
			
	 
 }
.navbar-inverse .navbar-nav>li>a{
	
	color:white;
}

.navbar-inverse .navbar-brand{
	
	color:white;
}
 .navigation:hover{
   background-color: #f4511e;
 
 }
  .navigation:active{
   background-color: #f4511e;
 
 }
 .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
	 
	    background-color: #f4511e;

 }
    .bg-grey {
      background-color:#008000; 
	  color:white;
  }
     .bg-main {
      background-color: #f6f6f6;
	  color:#800000;
  }
  
    .grey {
      background-color:#800000;
  }
  .navbar-default .navbar-text
  {
	  	  color:white;

  }
 .btnn{
	 
	 height:70px;
	 width:200px;
 }
